.jumbotron{
    background-color: aquamarine;
    color: black;
}

.footer{
    padding: 10px;
    background-color: aquamarine;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 250px;
    padding: 2px 5px 2px 5px;
}

.btn{
    width: 100%;
}